body
{
    margin: 0px;
}
h1
{
    font-size: 50px;
}
h2
{
    font-size: 40px;
}
.heading-margin
{
    margin:-2px;
}
.block-side
{
    height: 450px;
    width: 35%;;
    padding: 30px;
    margin-left: 40px;
    float: left;
}
.profile-img-size
{
    height: 250px;
    width: 300px;
}
.button
{
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    width: 50px;
    border: 1px solid black;
    
}
.first-background
{
    background-color: rgb(221, 238, 243);
    height: 550px;
    
   
}
.second-background
{
    height: 500px;
    background-color: rgb(218, 213, 213);
    padding-top: 10px;
}
.project-img-size
{
    height: 300px;
    width: 30%;
    padding: 13px;
}
.project-img-position
{
    width: 70%;
    text-align: center;
    margin: auto;
    
}
.background-set
{
    border: 1px solid black;
    background-image: url(background.png);
    background-size:100%;
    background-repeat: no-repeat;
    height: 250px;
    width: 70%;
    margin: auto;
}
h3
{
    font-size: 50px;
    margin:auto;
    color: white;
   
}
.definefloat
{
    height: 80px;
    width: 40%;;
    padding: 10px;
    margin-top: 40px;
    margin-left: 40px;
    float: left;
    
    
}
.chat-button
{
    display: inline-block;
    height: 40px;
    width: 40%;
    margin: auto;

   
    

    
}